.tab-header {
  display: flex;
  align-items: center;
  background: #5F78A0;
  padding: 10px;
  cursor: pointer;
  min-width: 200px;
  margin-right: 2px;
  margin-top: 5px;
}

.tab-title {
  flex: 1;
  font-size: 13px;
  color: white;
  inline-size: max-content;
  padding-right: 10px;
  padding-left: 10px;
}

.tab-close {
  color: white;
}
